<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>MAP</title>
	<link rel="stylesheet" type="text/css" href="/static/css/style_map.css">
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>

	<%- include ../admin/layout/head %>
</head>
<body>
	<%- include ../admin/layout/topheader %>

	<div class="logovamenu">
	    <nav class="navbar navbar-light  fontroboto">
	    	<div class="container">    	
			      <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#mtren">
			       
			      </button>
			      <div class="collapse navbar-toggleable-xs" id="mtren">
			        <a class="navbar-brand text-xs-center text-sm-left" href="#"><img src="/static/images/logo.png" alt=""></a>

			        <ul class="nav navbar-nav float-sm-right">
			         <li class="nav-item">
			            <a class="nav-link" href="/">Home  </a>
			          </li>
			           <li class="nav-item">
			            <a class="nav-link" href="/menu">Menu  </a>
			          </li>
			          <!-- <li class="nav-item active">
			            <a class="nav-link" href="/admin">User</a>
			          </li>
			          <li class="nav-item">
			            <a class="nav-link" href="/admin/signin">Sign in</a>
			          </li> -->
			          <li class="nav-item dropdown active">
						    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Account</a>
						    <div class="dropdown-menu">
						      <a class="dropdown-item" href="#">User</a>
						      <a class="dropdown-item active1" href="/admin/signin">Sign in</a>
						      <a class="dropdown-item" href="/admin/signup">Sign up</a>
						      <div class="dropdown-divider"></div>
						      <a class="dropdown-item active1" href="/admin">Admin</a>
						    </div>
  					</li>
			         <li class="nav-item datbanmenu">
			            <a class="nav-link btn btn-warning wow bounce" data-wow-iteration="3" href="#" >Reservation</a>
			          </li>
			        </ul>
			      </div>
	      </div> <!-- het container -->
	    </nav>
 	</div> <!-- het logo va menu -->


 	<div class="gmap">
 		<div class="trai">
 			<ul>
 				
 			
 			<li class="tenchinhanh">
				<button class="btn btn-warning" id="nut1"><%= chinhanh.post[0].ten %> </button>
			</li>
			<li class="tenchinhanh">
				<button class="btn btn-warning" id="nut2"><%= chinhanh.post[1].ten %> </button>
			</li>
			<li class="tenchinhanh">
				<button class="btn btn-warning" id="nut3"><%= chinhanh.post[2].ten %> </button>
			</li>
 			</ul>
 		</div>
 		<div class=" phai">
 			<div id="map"></div>
			<div class="s">

				<input type="hidden" value="<%= chinhanh.post[0].id %>" id="gmap-id-0">
				<input type="hidden" value="<%= chinhanh.post[0].ten %>" id="gmap-ten-0">
				<input type="hidden" value="<%- chinhanh.post[0].thongtin %>" id="gmap-thongtin-0">
				<input type="hidden" value="<%= chinhanh.post[0].hinhanh %>" id="gmap-hinhanh-0">
				
				<input type="hidden" value="<%= chinhanh.post[1].id %>" id="gmap-id-1">
				<input type="hidden" value="<%= chinhanh.post[1].ten %>" id="gmap-ten-1">
				<input type="hidden" value="<%- chinhanh.post[1].thongtin %>" id="gmap-thongtin-1">
				<input type="hidden" value="<%= chinhanh.post[1].hinhanh %>" id="gmap-hinhanh-1">

				<input type="hidden" value="<%= chinhanh.post[2].id %>" id="gmap-id-2">
				<input type="hidden" value="<%= chinhanh.post[2].ten %>" id="gmap-ten-2">
				<input type="hidden" value="<%- chinhanh.post[2].thongtin %>" id="gmap-thongtin-2">
				<input type="hidden" value="<%= chinhanh.post[2].hinhanh %>" id="gmap-hinhanh-2">

			</div>
			<!-- <div class="control-left-wrapper">
				<div class="zoom-in" id="zoom-in"><i class="fa fa-plus"></i></div>
				<div class="zoom-out" id="zoom-out"><i class="fa fa-minus"></i></div>
				<div class="current-location" id="current-location"><i class="fa fa-paper-plane"></i></div>
			</div>		 -->
 		</div>

 	</div>
	
	

	
	<script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPLgjs36GC0f98yuatUpG22vUTG9UxTh8&callback=initMap" >
    </script>
	<script type="text/javascript" src="/static/js/gmap.js"></script>
</body>
</html> 